<div class="text-center padded" id="form">
  <form class="form-inline ">
  <%= simple_form_for [@cocktail] do |f| %>
    <p><%= f.input :name %></p>
    <hr>
    <p><%= f.input :photo %></p>
    <hr>
    <p><%= f.input :photo_cache, as: :hidden %></p>
    <%= f.button :submit, {class: "btn-medium"} %>
  <% end %>
  </form>
</div>



