<div class="banner image_bg">
  <div class="banner-content">
    <h1>Mr. Cocktail</h1>
    <p>Animez vos soirées en réalisant des cocktails de qualité</p>
    <%= link_to "J'ajoute mon coktail favori", new_cocktail_path, {class: "btn-treehouse"} %>
  </div>
</div>

  <h1 class="text-center">Nos suggestions</h1>

  <div class="container padded">
   <div class="row">
     <% @cocktails.each do |cocktail| %>
     <div class="col-xs-12 col-sm-4 box">
      <% if cocktail.photo.present? %>
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) %>');">
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/360/175?image=<%= rand(1...300) %>');">
      <% end %>
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="#">
        <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="text-center padded">
  </div>
</div>


